In [1]:
import numpy as np
import pandas as pd
from numpy import random
import sqlite3

import re

import random

import warnings
warnings.filterwarnings('ignore')


cnxn = sqlite3.connect("tem.db")
cursor = cnxn.cursor() 

seed = 1998

In [3]:
user = pd.read_csv('user.csv')
rest = pd.read_csv('rest.csv')

In [16]:
positive_df = pd.DataFrame(columns = ['userid', 'rest'])
tem_1 = {'userid' : '5d279b1849e9398b427fd334', 'rest' : 31442321}
tem_2 = {'userid' : '5d279b1849e9398b427fd334', 'rest' : 1823283194}
tem_3 = {'userid' : '5d279b1849e9398b427fd334', 'rest' : 1428465017}
tem_4 = {'userid' : '5d279b1849e9398b427fd334', 'rest' : 17999136}
tem_5 = {'userid' : '5d279b1849e9398b427fd334', 'rest' : 38014687}

positive_df = positive_df.append(tem_1, ignore_index=True)
positive_df = positive_df.append(tem_2, ignore_index=True)
positive_df = positive_df.append(tem_3, ignore_index=True)
positive_df = positive_df.append(tem_4, ignore_index=True)
positive_df = positive_df.append(tem_5, ignore_index=True)
#positive_df['date'] = '2023년 1월 31일'

In [17]:
"""
rest 테이블 DB 저장
"""
cursor.execute("DROP TABLE rest")
cnxn.commit()  # this commits changes to the database

cursor.execute("CREATE TABLE rest ("
               "name VARCHAR(255),"
               "tag VARCHAR(511),"
               "url INT(127),"
               "x INT(127),"
               "y INT(127),"
               "image VARCHAR(511),"
               "rest_code INT(127),"
               "cnt INT(127))"
)
cnxn.commit()  # this commits changes to the database

a = rest.values.tolist()
for i in range(len(a)):
    a[i] = tuple(list(a[i]))

for i in a:
    #print(i)
    cursor.execute("INSERT INTO rest VALUES (?, ?, ?, ?, ?, ?, ?, ?)", i)
    #except: pass
cnxn.commit()

In [18]:
"""
user 방문 기록(rest_code) 테이블 DB 저장
"""
cursor.execute("DROP TABLE user")
cnxn.commit()  # this commits changes to the database

cursor.execute("CREATE TABLE user ("
               "user_code INT(127),"
               "rest_code VARCHAR(16383),"
               "user VARCHAR(255))"
)
cnxn.commit()  # this commits changes to the database

a = user.values.tolist()
for i in range(len(a)):
    a[i] = tuple(list(a[i]))

for i in a:
    #print(i)
    cursor.execute("INSERT INTO user VALUES (?, ?, ?)", i)
    #except: pass
cnxn.commit()

In [19]:
cursor.execute("DROP TABLE positive")
cnxn.commit()  # this commits changes to the database

cursor.execute("CREATE TABLE positive ("
               "user VARCHAR(255),"
               "url INT(127))"
)
cnxn.commit()  # this commits changes to the database

a = positive_df.values.tolist()
for i in range(len(a)):
    a[i] = tuple(list(a[i]))

for i in a:
    #print(i)
    cursor.execute("INSERT INTO positive VALUES (?, ?)", i)
    #except: pass
cnxn.commit()