**필수 설치**

In [ ]:
# !pip install pysqlite3
# !pip install tqdm

**DB 연결**

In [ ]:
import pandas as pd
import sqlite3
cnxn = sqlite3.connect("a.db")
cursor = cnxn.cursor()

**접속한 Database안에 테이블 생성하는 코드**

In [ ]:
cursor.execute("CREATE TABLE test1 ("
               "link VARCHAR(255),"
               "user VARCHAR(511),"
               "rest VARCHAR(255))"
)
cnxn.commit()  # this commits changes to the database

**위에서 만든 테이블 삭제하는 코드**

In [ ]:
cursor.execute("DROP TABLE test1")
cnxn.commit()  # this commits changes to the database

**위에서 만든 테이블에 데이터를 넣기위해 데이터 전처리 하는 코드**

In [ ]:
import re
area = 'yangcheon'
rest = pd.read_csv(f'../crawings/user_csv/{area}/user_concat.csv')
rest['link'] = rest['link'].apply(lambda x: str(re.findall(r'my/[a-z0-9]+/', x))[5:-3])
rest['user'] = rest['user'].apply(lambda x: str(x))
rest['rest'] = rest['rest'].apply(lambda x: str(x))

**위에서 만든 테이블에 데이터를 넣는 코드**

In [ ]:
a = rest.values.tolist()
for i in range(len(a)):
    a[i] = tuple(list(a[i]))

In [ ]:
from tqdm import tqdm
for i in tqdm(a):
    try: cursor.executemany("insert into test1 values (?, ?, ?)", [i])
    except: pass
cnxn.commit()

**위에서 넣은 데이터를 조회하는 코드**

In [ ]:
select_sql = "select * from test1"# where rating = 4.42"
cursor.execute(select_sql)
result = cursor.fetchall()
result

In [ ]:
result[0][2]