In [1]:
import pandas as pd
import numpy as np
import re

import warnings
warnings.filterwarnings("ignore")

In [ ]:
'''
돌리기 전에 다시 확인 꼭 하기!!
'''

# area : 지역
# num : csv 최대개수
area = 'KongDong'
num = 9

In [9]:
path = f'./area_csv/{area}/'
lsts = []

for i in range(1, num+1):
    lst = pd.read_csv(f'{path}rest_{i}.csv')
    lsts.append(lst)

In [10]:
data = lsts[0]

for i in range(1, num):
    data = pd.concat([data,lsts[i]])

,restaurant,tag,url,review
0,광연수산 영어조합법인,"장어,먹장어요리",https://map.naver.com/v5/search/%EA%B0%95%EB%8...,4.33리뷰 763
1,나무수,이탈리아음식,https://map.naver.com/v5/search/%EA%B0%95%EB%8...,4.4리뷰 385
2,장어집 본점,"장어,먹장어요리",https://map.naver.com/v5/search/%EA%B0%95%EB%8...,4.33리뷰 336
3,메가MGC커피 강일2지구점,카페,https://map.naver.com/v5/search/%EA%B0%95%EB%8...,4.27리뷰 999+
4,자메뷰 에스프레소바,"카페,디저트",https://map.naver.com/v5/search/%EA%B0%95%EB%8...,4.52리뷰 213
...,...,...,...,...
295,미드데이썬,케이크전문,https://map.naver.com/v5/search/%EA%B0%95%EB%8...,4.58리뷰 652TV생방송투데이
296,바게트,브런치,https://map.naver.com/v5/search/%EA%B0%95%EB%8...,영업 중리뷰 90서울 강동구 성내동
297,우직 방이점,한식,https://map.naver.com/v5/search/%EA%B0%95%EB%8...,4.6리뷰 715
298,버섯잔치집 본점,한식,https://map.naver.com/v5/search/%EA%B0%95%EB%8...,4.85리뷰 999+TV2TV생생정보
299,리애 프리미엄 올림픽공원직영점,돈가스,https://map.naver.com/v5/search/%EA%B0%95%EB%8...,영업 중리뷰 62서울 강동구 성내동

In [11]:
data['url']= data['url'].apply(lambda x: re.findall(r'/[0-9]+', x)[0][1:])
data['review'] = data['review'].apply(lambda x: re.findall(r'[\d{1.2}]+', x))
data['len'] = data['review'].apply(lambda x : len(x))
data = data[data['len'] > 0]
data['rating'] = data['review'].apply(lambda x: x[0] if len(x) == 2 else np.nan)
data['count'] = data['review'].apply(lambda x: x[1] if len(x) == 2 else x[0])

/tmp/ipykernel_86890/621900734.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['rating'] = data['review'].apply(lambda x: x[0] if len(x) == 2 else np.nan)
/tmp/ipykernel_86890/621900734.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['count'] = data['review'].apply(lambda x: x[1] if len(x) == 2 else x[0])

           restaurant       tag         url          review  len rating count
0         광연수산 영어조합법인  장어,먹장어요리  1118794022     [4.33, 763]    2   4.33   763
1                 나무수    이탈리아음식   475067576      [4.4, 385]    2    4.4   385
2              장어집 본점  장어,먹장어요리  1436213622     [4.33, 336]    2   4.33   336
3      메가MGC커피 강일2지구점        카페  1538769207     [4.27, 999]    2   4.27   999
4          자메뷰 에스프레소바    카페,디저트  1334409858     [4.52, 213]    2   4.52   213
..                ...       ...         ...             ...  ...    ...   ...
295             미드데이썬     케이크전문  1067105922     [4.58, 652]    2   4.58   652
296               바게트       브런치  1854108322            [90]    1    NaN    90
297            우직 방이점        한식  1037556065      [4.6, 715]    2    4.6   715
298          버섯잔치집 본점        한식    11719817  [4.85, 999, 2]    3    NaN  4.85
299  리애 프리미엄 올림픽공원직영점       돈가스  1241955182            [62]    1    NaN    62

[2676 rows x 7 columns]

In [12]:
data['count'] = data['count'].astype('float')
data = data.drop_duplicates('url') # restaurant
data = data[data['count'] >= 10]

data.to_csv(f'{path}rest_concat.csv', index=False)

/tmp/ipykernel_86890/609209220.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['count'] = data['count'].astype('float')

0      763.00
1      385.00
2      336.00
3      999.00
4      213.00
        ...
295    652.00
296     90.00
297    715.00
298      4.85
299     62.00
Name: count, Length: 2676, dtype: float64